{% extends 'file/base.html' %}
{% block title%} Files {% endblock%}
{% block body%}



    <div class="albums-container container-fluid">
{% if user %}


    <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Files</h3>
            </div>
            
                {% for file in all_files %}
                    <!-- {% if file.user == user %} -->
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{{  file.org_file.url }}">
                                <a href='{% url "db_file_storage.download_file" %}?name={{ file.org_file }}'>
                                        <i>{{ file.file_name }}</i>
                                    </a>
                                                        
                                        <!-- {#<img src="{{ album.album_logo.url }}" class="img-responsive">#} -->
                                 <h4>{{ file.file_name  }}</h4>
                            </a>
                            <div class="caption">
                                <h2>{{ file.user }}</h2>


                    

                                <!-- Delete Album -->
                                <form action="{% url 'file:file-delete' file.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{ file.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>

                                

                            </div>
                        </div>
                    </div>
                    <!-- {% endif %} -->
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'file:file-add' PAK %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a File
                        </button>
                    </a>
                </div>
           
    </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Folders</h3>
            </div>
                
                {% for fol in all_folders %}
                <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{{  file.org_file.url }}">
                                <a href='http://127.0.0.1:8000/file/home/{{ fol.pk }}/'>
                                        <i>{{ fol.folder_name }}</i>
                                    </a>
                                                        
                                        <!-- {#<img src="{{ album.album_logo.url }}" class="img-responsive">#} -->
                                 <h4>{{ fol.folder_name  }}</h4>
                            </a>
                            <div class="caption">
                                <h2>{{ fol.user }}</h2>

                                

                            </div>
                        </div>
                    </div>
                    
                    <!-- {% if file.user == user %} -->
                    <!-- <p> {{ fol.user }} </p> -->
                    

                    <!-- {% endif %} -->
                    <!-- {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %} -->
                {% endfor %}
            
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'file:folder-add' PAK %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Folder
                        </button>
                    </a>
                </div>
            
    </div>
{% else %}
    <h2>OOPs sorry peeps you got logged out please login again</h2>
{% endif %}

{% endblock %}
</div>
</html>