{% extends 'file/base.html' %}
{% block title%} Files {% endblock%}
{% block body%}
{#{% if all_files %}#}
{#	<div class="containor-fluid">#}
{#        <h2> Here are all of your files </h2>#}
{#    </div>#}
{#	<ul>#}
{#		<!--queried items in  object list-->#}
{##}
{#		{% for file in all_files %}#}
{#		<li><h4><a href={%  url 'file:detail' file.id %}>{{ file.file_name}}</a></h4> <a href={%  url 'file:file-update' file.id %} >update</a>#}
{#            <a href={% url 'file:file-delete' file.id %}>delete</a> </li>#}
{##}
{#		{% endfor %}#}
{#	</ul>#}
{#{% else %}#}
{#	<h3> you dont have any files </h3>#}
{#    <h4> Go on to add-files to add your files here</h4>#}
{#{% endif %}#}
{##}

{#{{  all_files = File.objects.filter(user=request.user) }}#}

    <div class="albums-container container-fluid">
{% if user %}


    <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Files</h3>
            </div>
            {% if all_files %}
                {% for file in all_files %}
                    {% if file.user == user.username %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{{  file.org_file.url }}">
                    
    {#                            <img src="{{ album.album_logo.url }}" class="img-responsive">#}
                                 <h4>{{ file.file_name }}</h4>
                            </a>
                            <div class="caption">
                                <h2>{{ file.user }}</h2>


                                <!-- View Details -->
                                <a href="{% url 'file:detail' file.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                                <!-- Delete Album -->
                                <form action="{% url 'file:file-delete' file.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{ file.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>

                                <!-- Favorite Album -->
    {#                            <a href="{% url 'music:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">#}
    {#                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>#}
    {#                            </a>#}

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'file:file-add' %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a File
                        </button>
                    </a>
                </div>
            {% endif %}
    </div>
{% else %}
    <h2>OOPs sorry peeps you got logged out please login again</h2>
{% endif %}

{% endblock %}
</div>
</html>